<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myJavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>sdut.blog.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserCheck</display-name>
    <filter-name>UserCheck</filter-name>
    <filter-class>sdut.blog.filter.UserCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserCheck</filter-name>
    <url-pattern>/UserCheck</url-pattern>
    <url-pattern>/view/category/*</url-pattern>
    <url-pattern>/view/layout/*</url-pattern>
    <url-pattern>/view/user/*</url-pattern>
    <url-pattern>/view/article/*</url-pattern>
    <url-pattern>/UserServlet</url-pattern>
    <url-pattern>/CategoryServlet</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sdut.blog.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>sdut.blog.controller.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>sdut.blog.controller.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>sdut.blog.controller.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>sdut.blog.controller.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleAddServlet</display-name>
    <servlet-name>ArticleAddServlet</servlet-name>
    <servlet-class>sdut.blog.controller.ArticleAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleAddServlet</servlet-name>
    <url-pattern>/ArticleAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>sdut.blog.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>sdut.blog.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDeletServlet</display-name>
    <servlet-name>ArticleDeletServlet</servlet-name>
    <servlet-class>sdut.blog.controller.ArticleDeletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDeletServlet</servlet-name>
    <url-pattern>/ArticleDeletServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleUpdateServlet</display-name>
    <servlet-name>ArticleUpdateServlet</servlet-name>
    <servlet-class>sdut.blog.controller.ArticleUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleUpdateServlet</servlet-name>
    <url-pattern>/ArticleUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>