<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myJavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>sdut.blog.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserCheck</display-name>
    <filter-name>UserCheck</filter-name>
    <filter-class>sdut.blog.filter.UserCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserCheck</filter-name>
    <url-pattern>/UserCheck</url-pattern>
    <url-pattern>/view/category/*</url-pattern>
    <url-pattern>/view/layout/*</url-pattern>
    <url-pattern>/view/user/*</url-pattern>
    <url-pattern>/view/article/*</url-pattern>
    <url-pattern>/UserServlet</url-pattern>
    <url-pattern>/UserAddServlet</url-pattern>
    <url-pattern>/UserDeleteServlet</url-pattern>
    <url-pattern>/UserUpdateServlet</url-pattern>
    <url-pattern>/CategoryServlet</url-pattern>
    <url-pattern>/CategoryAddServlet</url-pattern>
    <url-pattern>/CategoryDeleteServlet</url-pattern>
    <url-pattern>/CategoryUpdateServlet</url-pattern>
    <url-pattern>/CategoryUpServlet</url-pattern>
    <url-pattern>/CategoryDownServlet</url-pattern>
    <url-pattern>/ArticleServlet</url-pattern>
    <url-pattern>/ArticleAddServlet</url-pattern>
    <url-pattern>/ArticleDeletServlet</url-pattern>
    <url-pattern>/ArticleUpdateServlet</url-pattern>
    <url-pattern>/FileServlet</url-pattern>
    <url-pattern>/FileUpServlet</url-pattern>
    <url-pattern>/FileUpdateServlet</url-pattern>
    <url-pattern>/FileDownServlet</url-pattern>
    <url-pattern>/FileDeleteServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sdut.blog.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>sdut.blog.controller.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>sdut.blog.controller.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>sdut.blog.controller.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>sdut.blog.controller.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleAddServlet</display-name>
    <servlet-name>ArticleAddServlet</servlet-name>
    <servlet-class>sdut.blog.controller.ArticleAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleAddServlet</servlet-name>
    <url-pattern>/ArticleAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>sdut.blog.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>sdut.blog.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDeletServlet</display-name>
    <servlet-name>ArticleDeletServlet</servlet-name>
    <servlet-class>sdut.blog.controller.ArticleDeletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDeletServlet</servlet-name>
    <url-pattern>/ArticleDeletServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleUpdateServlet</display-name>
    <servlet-name>ArticleUpdateServlet</servlet-name>
    <servlet-class>sdut.blog.controller.ArticleUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleUpdateServlet</servlet-name>
    <url-pattern>/ArticleUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCategoryServlet</display-name>
    <servlet-name>DelCategoryServlet</servlet-name>
    <servlet-class>sdut.blog.controller.DelCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCategoryServlet</servlet-name>
    <url-pattern>/DelCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDeleteServlet</display-name>
    <servlet-name>CategoryDeleteServlet</servlet-name>
    <servlet-class>sdut.blog.controller.CategoryDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDeleteServlet</servlet-name>
    <url-pattern>/CategoryDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryAddServlet</display-name>
    <servlet-name>CategoryAddServlet</servlet-name>
    <servlet-class>sdut.blog.controller.CategoryAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAddServlet</servlet-name>
    <url-pattern>/CategoryAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryUpdateServlet</display-name>
    <servlet-name>CategoryUpdateServlet</servlet-name>
    <servlet-class>sdut.blog.controller.CategoryUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryUpdateServlet</servlet-name>
    <url-pattern>/CategoryUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryUpServlet</display-name>
    <servlet-name>CategoryUpServlet</servlet-name>
    <servlet-class>sdut.blog.controller.CategoryUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryUpServlet</servlet-name>
    <url-pattern>/CategoryUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDownServlet</display-name>
    <servlet-name>CategoryDownServlet</servlet-name>
    <servlet-class>sdut.blog.controller.CategoryDownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDownServlet</servlet-name>
    <url-pattern>/CategoryDownServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpServlet</display-name>
    <servlet-name>FileUpServlet</servlet-name>
    <servlet-class>sdut.blog.controller.FileUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpServlet</servlet-name>
    <url-pattern>/FileUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownServlet</display-name>
    <servlet-name>FileDownServlet</servlet-name>
    <servlet-class>sdut.blog.controller.FileDownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownServlet</servlet-name>
    <url-pattern>/FileDownServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileServlet</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>sdut.blog.controller.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/FileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDeleteServlet</display-name>
    <servlet-name>FileDeleteServlet</servlet-name>
    <servlet-class>sdut.blog.controller.FileDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDeleteServlet</servlet-name>
    <url-pattern>/FileDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpdateServlet</display-name>
    <servlet-name>FileUpdateServlet</servlet-name>
    <servlet-class>sdut.blog.controller.FileUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpdateServlet</servlet-name>
    <url-pattern>/FileUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowArticleListServlet</display-name>
    <servlet-name>ShowArticleListServlet</servlet-name>
    <servlet-class>sdut.blog.controller.ShowArticleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowArticleListServlet</servlet-name>
    <url-pattern>/ShowArticleListServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>HomePage</display-name>
    <filter-name>HomePage</filter-name>
    <filter-class>sdut.blog.filter.HomePage</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HomePage</filter-name>
    <url-pattern>/HomePage</url-pattern>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Login</display-name>
    <filter-name>Login</filter-name>
    <filter-class>sdut.blog.filter.Login</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>/Login</url-pattern>
  </filter-mapping>
</web-app>